[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/plugin/vimporter"]
	path = .vim/plugin/vimporter
    url = https://github.com/Kashomon/vimporter.git
